*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.container{
    max-width: 400px;
    margin: 60px 0 ;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.container h1{
    text-align: center;
    margin-bottom: 50px;
    color: #333;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table, td{
    border: none;
    padding: 8px;
}
.wrap{
    /* text-align: center; */
    margin-bottom: 30px;
    border: 1px solid #ddd;
}
.details{
    margin: 10px 0;
    padding-left: 100px;
    color: #555;
}
.first_alt{
    background-color: #f4f4f4;
}
.second{
    background-color: #ffffff;
}
.status{
    margin-top: 20px;
    text-align: center;
}
button{
    display: block;
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.status{
    margin-top: 150px;
}
.status h5{
    margin-top: 30px;
}
.finalResult{
    background-color: #02a571;
    border-radius: 10px;
    color:#333;
    width: 300px;
    height: 500px;
}
button:hover{
    background-color: #02a571;
    color: #ffffff;
    transform: scale(1.05) translateY(-2px);
    
}
.container:hover{
    transform: scale(1.05) translateY(-4px);
}
.finalResult:hover{
    transform: scale(1.05) translateY(-4px);
    background-color: #ddd;
    color: #333;
}